.company {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.Search {
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.Search>input {
    background-color: transparent;
    border: none;
    outline: none;
}

.iframe {
    position: relative;
    border: none;
    margin-top: 10px;
    height: 100%;
    width: 105%;
    opacity: 2;
    z-index: 2;
}