.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
/* this will be hidden in small screen size */
@media screen and (max-width: 1000px) {
    .RightSide{
      display: none;
    }
  }