.Profile {
    position: relative;
    display: grid;
    grid-template-areas: none;
    grid-template-columns: 400px 650px 400px;
    gap: 1rem;
}

@media screen and (max-width: 1290px) {
    .Profile {
        position: relative;
        display: grid;
        grid-template-areas: none;
        grid-template-columns: 320px 570px 320px;
        gap: 1rem;
    }
}

@media screen and (max-width: 1025px) {
    .Profile {
        position: relative;
        display: grid;
        grid-template-areas: none;
        grid-template-columns: 270px 400px 290px;
        gap: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .Profile {
        position: relative;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    .ProfileLeft{
        display: block;
    }
    .trending-toggle{
        display: none;
    }
    .ProfileSide{
        display: block;
    }
}