.desktop-view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cardColor);
  height: 80px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.logo-container {
  flex-shrink: 0;
}

.logo {
  max-width: 50px;
  height: auto;
}

.logo-search-container {
  display: flex;
  align-items: center;
  /* background: var(--cardColor); */
  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
}

.Search {
  display: flex;
  align-items: center;
  /* background-color: var(--inputColor); */
  border-radius: 10px;
  padding: 5px;
}

.Search>input {
  background-color: transparent;
  border: none;
  outline: none;
}

.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #10970c, #a4f935 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
  margin-left: 5px;
}

.s-icon:hover {
  cursor: pointer;
}

.Sitename {
  font-weight: bold;
  text-align: center;
  margin-right: auto;
}

.RightSide {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navIcons {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.s-nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 4px;
}

.s-nav-icon.active {
  background: linear-gradient(106.23deg, #10970c, #a4f935 100%);
}

.s-nav-icon>img {
  height: 1.8rem;
  width: 1.8rem;
}

.logo-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: var(--cardColor); */
  overflow-x: clip;
  padding: 0.5rem;
}

.logo-container {
  flex-shrink: 0;
  margin-right: 0.75rem;
}

.logo {
  max-width: 50px;
  height: auto;
}

.Search {
  display: flex;
  align-items: center;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.Search>input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
}

.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #10970c, #a4f935 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.s-icon:hover {
  cursor: pointer;
}

.mobile-view {
  display: none;
}
.mobile-view .mobile-container{
  margin-left: 1rem;
  margin-left: 1rem;
  align-items: center;
}
.mobile-view .mobile-container .logo-container img{
  height: 2rem;
}
.Sitename-mobile {
  font-weight: bold;
  text-align: center;
  margin-right: auto;
}
.mobile-nav-icons {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin-right: 2rem;
}
.s-nav-icon .profile-icon{
  border-radius: 50%;
}


/* making responsive */

@media screen and (max-width: 1200px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cardColor);
    height: 50px;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .mobile-nav-icons{
    gap: 0rem;
    margin-right: 0px;
  }
}

.dropdown-menu{
  position: absolute;
  top: 50px;
  right: 20px;
  background: linear-gradient(45deg, #a8ff78, #78ffd6);
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}
.dropdown-content{
  margin-top: -20px;
}
.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span{
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  padding: 8px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a{
  color: #10970c;
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 5px auto; 
}

.dropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 0;
  transition: var(--speed);
}